{% load static %}

<html>

    <head>

        <title> DailyNotes </title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    </head>


    <body>

        <h2> Welcome to DailyNotes! </h2>

        <hr/>

        <h3> Enter a new note below: </h3>

        <form id="note-form" method="post">

            {% csrf_token %}

            {{myForm.as_p}}

            <button type="submit"> Add note </button>

        </form>

        <hr/>

        <h4> All notes </h4>


        {% if myNotes %}

            <ul>

                {% for note in myNotes %}

                    <li>

                        <strong> {{note.title}} </strong>

                    </li>

                {% endfor %}

            </ul>

        {% else %}

            <p> No notes. </p>

        {% endif %}

        <hr>

        <p> This is another test. </p>

    </body>

    <script src="{% static 'js/app.js' %}"></script>


</html>